$books-item-cover-width: 100px;

@import "../app/styles/mixins";

.books-item {
  display: inline-block;
  width: 199px;
  right: 1px;
  vertical-align: top;
}
.books-item-inner {
  @include transition();
  height: 200px;
  padding: 30px 0;
  background: #fb9d23;
  background: linear-gradient(to bottom, #fb9d23 0%, rgba(255,197,120,0) 100%);
  cursor: pointer;

  &:hover {
    height: 230px;
  }
}
.books-item-cover {
  @include transition(100ms, linear);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: $books-item-cover-width;
  border: 10px solid #fff;

  .books-item-inner:hover & {
    width: $books-item-cover-width + 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,.2);
  }
}