* {
  box-sizing: border-box;
}

.books-index {

}

.books-loading-image {
  display: block;
  width: 250px;
  max-width: 100%;
  margin: 200px auto;
  animation: fadein 1s ease-in;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}