@import "../app/styles/mixins";

$load-more-color: #000;

.load-more-item {
  display: inline-block;
  width: 199px;
  right: 1px;
  vertical-align: top;
}
.load-more-item-inner {
  @include transition();
  height: 260px;
  background: #fb9d23;
  background: linear-gradient(to bottom, #fb9d23 0%, rgba(255,197,120,0) 100%);
  cursor: pointer;

  &:hover {
    height: 290px;
  }
}
.load-more-item-link {
  display: block;
  height: 260px;
  line-height: 200px;
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  color: $load-more-color;
}
.load-more-item-dot {
  @include transition(200ms, linear);
  display: inline-block;
  height: 7px;
  width: 7px;
  margin-right: 3px;
  border-radius: 50%;
  background: $load-more-color;

  .load-more-item-inner:hover & {
    margin-right: 5px;
  }

  &:last-child {
    margin-right: 0;
  }
}